* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.frame {
  width: 1080px;
  height: 1920px;
}

.landing-frame {
  position: relative;
  width: 1080px;
  height: 1920px;
  margin: 0 auto;
  background-color: darkslategray;
  background-image: url("images/ashe-bob.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.landing-vid {
  position: absolute;
  top: 0;
  left: 0;
  width: 1080px;
  height: 1920px;
  object-fit: cover;
}

.dim {
  position: absolute;
  top: 0;
  left: 0;
  width: 1080px;
  height: 1920px;
  background-color: rgba(0, 0, 0, 0.5);
}
